body {
    padding: 0;
    margin: 0;
}
* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer {
    background: #f6f6f6;
    padding: 46px 0 23px;
    margin-top: 10px;
}
.slick-next,
.slick-prev {
    z-index: 2;
}
.slick-track {
    display: flex !important;
}
html,
body {
    padding: 0;
    margin: 0;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
body {
    font: 400 14px/24px "Montserrat", sans-serif;
    color: #4a4a4a;
    background: #fff;
}
h3 {
    font: 400 14px/24px "Montserrat", sans-serif;
    font-size: 11px;
    letter-spacing: 1.5px;
}
.slick-slider:hover .slick-next{
    opacity: 1;
}
.slick-slider:hover .slick-prev{
    opacity: 1;
}
.slick-dots{
    bottom: 10px!important;
}