.mainPage_innerWrapper{
    width: 1170px;
    margin: 0 auto;
}
.mainPage_slider_firstItem{
    background-image: url("https://livedemo00-opencart.template-help.com/opencart_prod-18464/image/cache/catalog/slide-1-1170x584.jpg");
}
.mainPage_slider_secondItem{
    background-image: url("https://livedemo00-opencart.template-help.com/opencart_prod-18464/image/cache/catalog/slide-2-1170x584.jpg");
}
.mainPage_slider_thirdItem{
    background-image: url("https://livedemo00-opencart.template-help.com/opencart_prod-18464/image/cache/catalog/slide-3-1170x584.jpg");
}
.mainPage_slider_firstItem,
.mainPage_slider_secondItem,
.mainPage_slider_thirdItem{
    width: 1170px;
    height: 584px;
    border-radius: 10px;
}

.mainPage_slider_text{
    padding-top: 110px;
    padding-left: 60px;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    max-width: 400px;
    line-height: 60px;
}
.mainPage_slider_button{
    padding: 19px 26px;
    margin-left: 60px;
    color: white;
    background-color: #E8CABA;
    border-radius: 5px;
}
.mainPage_slider_button:hover{
    background-color: #DBAD94;
}