* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    transition: .2s linear;
}

footer {
    background: #f6f6f6;
    padding: 46px 0 23px;
    margin-top: 10px;
}
.slick-prev:before,
.slick-next:before{
    color: black !important;
    display: none;
}
.slick-next {
    right: 20px !important;
}
.slick-prev{
    left: 20px !important;
    z-index: 2;
}
.slick-slider{
}
.slick-slider:hover .slick-prev:before,
.slick-slider:hover .slick-next:before{
    display: block !important;
}