* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer {
    background: #f6f6f6;
    padding: 46px 0 23px;
    margin-top: 10px;
}
.slick-prev:before,
.slick-next:before{
    color: black !important;
    display: none;
}
.slick-next,
.slick-prev{
    z-index: 2;

}
.slick-track{
    display: flex!important;
    }
.slick-slider:hover .slick-prev:before,
.slick-slider:hover .slick-next:before{
    display: block !important;
}
html,
body{
    padding: 0;
    margin: 0;
}